.prompt {
   position: absolute;
   color: rgb(150, 150, 150);
   background-color: white;
   top: 23%;
   left: 10px;

   cursor: pointer;
}
.prompt_move {
   color: var(--theme);
   top: -9px;
   left: 9px;
   border: 3px solid white;
   border-top: none;
   border-bottom: none;
   transition: all 0.2s ease;
}
