.wrapper {
   --theme: #1976d2;
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.checkboxWrapper {
   position: relative;
   display: flex;
   align-items: center;
}

.checkbox_input {
   display: none;
}

.checkbox_box {
   outline: 2px solid #ccc;
   border-radius: 5%;
   background-color: white;
   width: 100%;
   height: 100%;
   position: relative;
   cursor: pointer;
}

.checkbox_input:checked + .checkbox_box {
   background-color: var(--theme);
   border-color: var(--theme);
}

.checkbox_box::after {
   content: '✔';
   color: white;
   display: none;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 0.73em;
}
.checkbox_box::before {
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   border-radius: 50%;
   z-index: -1;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: all 0.15s ease;
}

.checkbox_input:not(:disabled) + .checkbox_box:hover::before {
   width: 250%;
   height: 250%;
   background-color: rgb(238, 238, 238);
   opacity: 1;
}
.checkbox_input:not(:disabled) + .checkbox_box:active:before {
   background-color: color-mix(in srgb, var(--theme), transparent 75%);
   transition: all 0.5s ease;
}

.checkbox_input:checked + .checkbox_box {
   outline-color: var(--theme);
}
.checkbox_input:checked + .checkbox_box::after {
   display: block;
}
.checkbox_label {
   font-size: 0.95em;
   margin-left: 14px;
   cursor: pointer;
}
