.wrapper {
}
.toggle_container {
}
.switch_label {
}
.toggle_label {
   background-color: #ccc;
   transition: background-color 0.2s ease;
   /* padding: 0 7px; */
}

.toggle_switch {
   top: 50%;
   left: 10%;
   transform: translate(0%, -50%);
   width: 45%;
   aspect-ratio: 1 /1;
   background-color: white;
   border-radius: 50%;
   transition: all 0.2s ease;
}

.toggle_checkbox:checked + .toggle_label {
   background-color: #4caf50;
}

.toggle_checkbox:checked + .toggle_label .toggle_switch {
   transform: translate(-100%, -50%);
   left: 90%;

   transition: all 0.2s ease;
}
