.wrapper {
   --theme: #1976d2;
   --error-color: rgb(194, 22, 22);
   display: flex;
   position: relative;
   border-radius: 3px;
   font-family: Arial, Helvetica, sans-serif;
   // background-color: aqua;
}

.common {
   outline: none;
   border: none;
   overflow: hidden;
   text-overflow: ellipsis;
   background-color: inherit;
   font-size: 0.85rem;
   border-radius: 5px;
}

.prompt {
   position: absolute;
   visibility: hidden;
   font-size: 0.85rem;
   color: var(--theme);
   top: 48%;
   background-color: white;
   border: 3px solid white;
   border-top: none;
   border-bottom: none;
}

.common:not(:placeholder-shown) + .prompt {
   visibility: visible;
   font-size: 0.8rem;
   color: var(--theme);
   transition: all 0.25s ease;
}

.standard {
   border-radius: 0;
   margin-top: 20px;
   border-bottom: 2px solid var(--theme);
}
.standard:not(:placeholder-shown) + .prompt {
   top: 0;
}

.outlined {
   border: 2px solid var(--theme);
   height: 30px;
   padding: 0 7px;
}

.outlined:not(:placeholder-shown) + .prompt {
   top: -7px;
   left: 7px;
}

.wrapper:has(.filled) {
   background-color: #c5c5c5;
}
.filled {
   border-radius: 0;
   margin-top: 25px;
   padding-left: 10px;
   border-bottom: 2px solid var(--theme);
}
.filled + .prompt {
   background: none;
}
.filled:not(:placeholder-shown) + .prompt {
   top: 15%;
   left: 10px;
   background: none;
   border: none;
}

.error {
   border-color: var(--error-color);
}

.wrapper:has(.error) .prompt {
   color: var(--error-color);
}
